@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@400&display=swap');

.header {
    width: 98%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: -20px;
    background-color: rgba(0, 113, 45, 0.89);
    color: #fff;
    font-family: 'Kreon', sans-serif;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 30px;
}
.logo:hover {
    cursor: pointer;
}
.carrotIcon {
    width: 60px;
    height: 50px;
    margin-right: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-right: 30px;
}

.header-log-in,
.header-sign-up {
    height: 44px;
    padding: 0 15px;
    border-radius: 15px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    font-size: 22px;
    font-family: 'Kreon', sans-serif;
    cursor: pointer;
    text-align: center;
}
.header-log-in:hover,
.header-sign-up:hover {
    background-color: rgba(0, 113, 45, 0.89);
    color: #fff;
}
